.bg-black {
  background-color: black !important;
}

.newrockerfont {
  font-family: 'New Rocker', cursive !important;
}

.customlinkstyles {
  color: gray;
}

.customlinkstyles:hover {
  color: white;
}